.home-screen{
    width: 100%;
    min-height: 100vh;
  }
  .home-screen .overlay-style{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background: rgba(0,0,0,0.8);
    background-size: cover;
  }
  .home-screen video{
      width: 100%;
      position: absolute;
  }
  .home-screen .home-text{
    position: relative;
  }



.show {
position: relative;
display: block;
margin: 15px 0;
}

.show .show-icon{
width: 40px;
height: 40px;
padding: 5px 10px;
font-size: 20px;
cursor: pointer;
text-align: center;
color: rgb(209, 204, 204);
border: 1px solid rgb(209, 204, 204);
border-radius: 50%;
}

.show .show-text {
visibility: hidden;
width: 120px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
position: absolute;
z-index: 1;
top: -2px;
left: 0%;
margin-left: -120px;
opacity: 0;
transition: opacity 1s;
}
.show .show-text::before {
/* content: ""; */
position: absolute;
bottom: 30%;
left: 100%;
margin-left: -05px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}
.show:hover .show-text {
visibility: visible;
opacity: 1;
}
.show-icon:hover{
transition: 1s;
border-radius: 0 15px 15px 0;
color: white;
}

.nav-item .nav-link{
    font-size: 18px;
    text-decoration: none;
}
.nav-item .nav-link:hover, .active{
    text-decoration: none;
    border-bottom: 1px solid gray;
}
.top-link{
    font-size: 18px;
    text-decoration: none;
    color: gray;
}
.top-link:hover{
    color: rgb(221, 71, 71);
    text-decoration: none;
    border-bottom: 1px solid rgb(221, 71, 71);
}

#icon-cont{
    min-width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    color: rgb(209, 204, 204);
    border: 1px solid rgb(209, 204, 204);
    border-radius: 50%;
    display: flex;
}
#icon-cont .icon{
    text-align: center;
    padding: 5px 10px;
}
#icon-text{
    display: none;
}
#icon-cont:hover #icon-text{
    transition: 3s;
    display: block;
}
#icon-cont:hover #icon-text{
    border-radius: 0 15px 15px 0;
    color: white;
}

.flex{
    width: 100%;
    min-height: 40vh;
}
.flex-btn button{
    width: 100%;
    min-height: 50px;
    font-size: 22px;
    font-weight: bolder;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
.flex-btn button:hover{
    transition: 1s;
    background-color: rgba(255, 0, 0, 0.5);
}
.flex-join{
    background: url(../images/flex/join.jpg);
    background-size: 100% 100%;
}
.flex-event{
    background: url(../images/flex/event.jpg);
    background-size: 100% 100%;
}
.flex-news{
    background: url(../images/flex/new.jpg);
    background-size: 100% 100%;
}
.flex-tour{
    background: url(../images/flex/tour.jpg);
    background-size: 100% 100%;
}
.flex-clubs{
    background: url(../images/flex/club.jpg);
    background-size: 100% 100%;
}

.copyright{
    font-size: 13px;
}






/* 
/* dashboard sidebar styling starts here  
*/

/* .dashSideBar{
    width: 100%;
    height: 100vh;
    background-color: #555;
    color: #fff;
    position: fixed;
    top: 20px;
    z-index: 999;

} */